@import "tailwindcss";

:root {
  --background: #090909;
  --surface: #141414;
  --card: #1b1b1b;
  --border: #2b2b2b;

  --primary: #e10600;

  --text: #ffffff;
  --muted: #9f9f9f;

  --radius: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-playfair);
}

code {
  font-family: var(--font-mono);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}